.radius-icon {
    border-radius: 50%;
    background: #17cf541a;
}

.square-icon {
    border-radius: 5px;
    background: #17cf541a;
}

.btn--primary {
    background-color: #0f5132;
    color: #fff;
    border-radius: 5px;
}

.btn--secondary {
    background-color: #fff;
    color: #0f5132;
    border: #0f5132 1px solid;
    border-radius: 5px;
}

.bg-accent-gold {
    background: goldenrod
}

.bg-accent-green {
    background: #0f5132;
}

.facility--item {
    background-color: #f5efe5;
    border-radius: 0.75rem;
}

.facility--item svg {
    color: #0f5132;
}


/* .pattern-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .4;
    background-image: url('/Patternbg.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 45px;
}

.pattern-bg {
    position: relative;
}

.pattern-bg * {
    z-index: 1;
} */

body {
    background-image: url('/Patternbglight.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 55px;
}

.pachage-header {
    top: 70px !important;
    margin: -35px 0;
    padding: 40px 0;
    padding-bottom: 0;
    margin-bottom: 20px;
}